@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #FEFEFE;
  color: #333333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 2%;
}

.section-title {
  text-align: center;
  margin-bottom: 150px;
}
.section-title .en {
  color: #3688D6;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
}
.section-title .ja {
  color: #3F3D56;
  font-size: 3.6rem;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

p {
  font-size: 1.6rem;
  line-height: 160%;
}

footer {
  padding-bottom: 30px;
  position: relative;
}
footer canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
footer p {
  text-align: center;
}

.faq {
  position: relative;
  padding: 100px;
  position: relative; /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 1; /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width: 100%;
  height: 100%;
}
@media (max-width: 425px) {
  .faq {
    padding: 70px;
  }
}
.faq #particles-js {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.faq .accordion-area {
  padding-inline: 5%;
  margin-bottom: 150px;
}
@media (max-width: 768px) {
  .faq .accordion-area {
    padding-inline: 0;
  }
}
.faq .accordion-area li {
  margin-bottom: 30px;
}
.faq .accordion-area li span {
  font-family: "Crimson Text", "Noto Sans JP", sans-serif;
  font-size: 4.8rem;
  margin-right: 20px;
}
@media (max-width: 425px) {
  .faq .accordion-area li span {
    margin-right: 5px;
  }
}
.faq .accordion-area li span.line {
  color: transparent;
  -webkit-text-stroke: 1px #333333;
}
.faq .accordion-area li .title {
  display: flex;
  align-items: center;
  background-color: #F2F9FF;
  font-weight: normal;
  font-size: 1.6rem;
  border-radius: 5px;
  padding: 1% 10% 1% 2%;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
}
.faq .accordion-area li .title.close {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.faq .accordion-area li .title:hover {
  background-color: rgb(175, 212.5, 250);
}
.faq .accordion-area li .title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  background-image: url(../img/icon_CaretUp.webp);
  background-size: contain; /* 画像を要素に収める */
  background-repeat: no-repeat; /* 繰り返さない */
  background-position: center; /* 中央に配置 */
  width: 30px;
  height: 30px;
  z-index: 1;
  transition: 0.3s ease;
}
.faq .accordion-area li .title.close::after {
  transform: translateY(-50%) rotate(-180deg);
}
.faq .accordion-area li .box {
  display: none;
  background-color: #DFEEFD;
  padding: 3% 10% 3% 2%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.faq .accordion-area li .box .text-wrapper {
  display: flex;
  align-items: center;
}

.page-roadmap {
  color: #FEFEFE;
}/*# sourceMappingURL=style.css.map */