@use 'partial/_mixin.scss';
@use 'partial/_common.scss';
@use 'partial/_reset.scss';
@use 'partial/_variables.scss';

@use 'partial/_header.scss';
@use 'partial/_footer.scss';


@use 'partial/_about.scss';
@use 'partial/_contact.scss';
@use 'partial/_faq.scss';
@use 'partial/_gallery.scss';
@use 'partial/_mainvisual.scss';
@use 'partial/_price.scss';
@use 'partial/_reasons.scss';
@use 'partial/_roadmap.scss';
@use 'partial/_sns.scss';
@use 'partial/_support.scss';
@use 'partial/_teacher.scss';
@use 'partial/_voice.scss';
@use 'partial/_worries.scss';

@use 'partial/_page-roadmap.scss';
