@use "variables" as *;
@use "mixin" as *;

.about {
    padding-block: 200px 130px;
    
    @include tab {
        padding-block: 100px;
        flex-direction: column-reverse;
        padding-inline: 2%;
    }

    .flex {
        @include flex(center, 0);
        align-items: center;
        flex-direction: row-reverse;

        @include tab {
            flex-direction: column;
            padding-inline: 2%;
        }

        &__img {
            max-width: 500px;
            width: 50%;
            height: 500px;
            margin-left: -85px;
            position: relative;

            @include tab {
                width: 90%;
                max-width: none;
                height: 300px;
                margin-left: auto;
                margin-top: 50px;
            }

            @include sp {
                width: 100%;
            }

            img {
                border-radius: 30px;
                height: 100%;
            }

            .bubble {
                content: "";
                position: absolute;
                top: -20%;
                right: 20%;
                width: fit-content;
                opacity: 0;
                transform: rotate(3deg) translateY(30px);
                transition: opacity 0.6s ease, transform 0.6s ease;
    
                @include tab {
                    top: -40%;
                    right: 0;
                    left: 50%;
                    transform: translateX(-50%) rotate(0deg) translateY(30px);
                }

                @include sp {
                    width: 100%;
                }
                
                &.fadeUp {
                    opacity: 1;
                    transform: translateY(0) rotate(3deg);
                    animation: pop 0.6s ease-out;
    
                    @include tab {
                        transform: translateX(-50%) rotate(0deg) translateY(30px);
                    }
                }
    
                // 吹き出し線
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    width: 40px;
                    height: 1.5px;
                    background-color: $color-text;

                    @include sp {
                        display: none;
                    }
                }
    
                &::before {
                    top: 60%;
                    left: -23%;
                    transform: translateY(-50%) rotate(60deg);
                    @include tab {
                        top: 50%;
                        left: -70px;
                        transform: translateY(-50%) rotate(70deg);
                    }
                }
                &::after {
                    top: 70%;
                    right: -23%;
                    transform: translateY(-50%) rotate(-50deg);
                    @include tab {
                        top: 50%;
                        right: -70px;
                        transform: translateY(-50%) rotate(-70deg);
                    }
                }
    
                p {
                    position: relative;
    
                    @include tab {
                        text-align: center;
                    }
    
                    @include sp {
                        font-size: 1.3rem;
                    }
    
                    // 吹き出し線
                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        width: 40px;
                        height: 1.5px;
                        background-color: $color-text;

                        @include sp {
                            display: none;
                        }
                    }
        
                    &::before {
                        top: 60%;
                        left: -20%;
                        transform: translateY(-50%) rotate(60deg);
                        @include tab {
                            top: 50%;
                            left: -60px;
                            transform: translateY(-50%) rotate(70deg);
                        }
                    }
                    &::after {
                        top: 70%;
                        right: -20%;
                        transform: translateY(-50%) rotate(-50deg);
                        @include tab {
                            top: 50%;
                            right: -60px;
                            transform: translateY(-50%) rotate(-70deg);
                        }
                    }
                }
    
                span {
                    font-size: 2.4rem;
    
                    @include tab {
                        font-size: 2rem;
                    }
                }
                .emphasis {
                    color: $color-accent;
                    font-weight: bold;
                }
            }
    
        }


        &__text {
            max-width: 700px;
            width: 50%;
            background-color: $color-step1;
            border-radius: 30px;
            padding: 5%;
            margin-bottom: -50px;
            
            @include tab {
                width: 90%;
                margin-right: auto;
                margin-top: -50px;
                padding: 10% 5% 10% 5%;

            }
            @include sp {
                width: 100%;
            }
            
            .section-title {
                margin-bottom: 50px;
                @include sp {
                    margin-bottom: 30px;
                }
            }
    
            .text {
                line-height: 200%;
    
                span {
                    font-size: 1.8rem;
                    font-weight: bold;
                    color: $color-main;
                }
            }
        }
    
    }
}



/* ぴょん */
@keyframes pop {
    0%   { transform: translateY(30px); }
    70%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

@include tab {
    @keyframes pop {
        0%   { transform: translateX(-50%) rotate(0deg) translateY(60px); }
        70%  { transform: translateX(-50%) rotate(0deg) translateY(20px); }
        100% { transform: translateX(-50%) rotate(0deg) translateY(30px); }
    }
}