@use 'variables' as *;
@use 'mixin' as *;

// ==========================
// YOFUKASHI共通項目
// ==========================
body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: $color-base;
    color: $color-text;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 2%;
}

.section-title {
    text-align: center;
    margin-bottom: 150px;

    .en {
        color: $color-main;
        font-size: 2.0rem;
        font-weight: bold;
        letter-spacing: 3px;
    }
    .ja {
        color: $color-accent-navy;
        font-size: 3.6rem;
        font-weight: normal;
    }
}