@use 'variables' as *;
@use 'mixin' as *;

// ==========================
// YOFUKASHI共通項目
// ==========================
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: $color-base;
    color: $color-text;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 2%;

}

.section-title {
    text-align: center;
    margin-bottom: 90px;

    .en {
        color: $color-main;
        font-size: 2.0rem;
        font-weight: bold;
        letter-spacing: 3px;

        @include sp {
            font-size: 1.6rem;
        }
    }

    .ja {
        color: $color-accent-navy;
        font-size: 3.6rem;
        font-weight: normal;

        @include tab {
            font-size: 3rem;
        }

        @include sp {
            font-size: clamp(2.1rem, 6vw, 3rem);
        }
    }
}

.back-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid $color-gray;
    background: $color-white;
    cursor: pointer;
    font-size: 1.6rem;

    @include open-sans;
    @include flex(center, 6px);
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    overflow: hidden;  
    z-index: 1;        

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: $color-step2;
        top: 0;
        left: -100%;
        transition: 0.5s;
        pointer-events: none;
        z-index: -1;
        opacity: 0.8;
    }

        &:hover::after {
        left: 0;
    }

    @include sp {
        width: 70px;
        height: 70px;
        @include flex(center, 3px);
    }

    img {
        width: 32px;
        height: 32px;
        margin-bottom: 4px;
        display: block;

        @include sp {
            width: 25px;
            height: 25px;
        }
    }
}

.view-more-btn {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid $color-white;
    background: none;
    cursor: pointer;
    font-size: 1.6rem;
    color: $color-white;
    @include open-sans;
    @include flex(center, 6px);
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    overflow: hidden;
    position: relative;
    z-index: 1;

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: $color-line;
        top: 0;
        left: -100%;
        transition: 0.5s;
        pointer-events: none;
        z-index: -1;
        opacity: 0.8;
    }

    &:hover::after {
        left: 0;
    }

    @include tab {
        width: 130px;
        height: 130px;
    }

    img {
        width: 32px;
        height: 32px;
        display: block;
    }
}

.reservation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 5px;
    background-color: $color-accent;
    color: $color-white;
    border-radius: 3rem;
    cursor: pointer;
    font-size: 1.2em;
    box-shadow: 0 0 1em 0 $color-accent;
    transition: 1s;
    position: relative;
    animation: ripple 1s linear infinite, colorize 1s infinite;

    p {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 5px;
        line-height: 1;
        border: 1px solid $color-white;
        border-radius: 30px;
        transition: 0.5s;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    }

    &:active {
        transform: scale(0.95);

        p {
            text-shadow: none;
        }
    }

    &:hover {
        outline: 0.1em solid transparent;
        outline-offset: 0.2em;
    }

    .arrow-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        margin-left: 15px;
        background-color: $color-white;
        border-radius: 50%;
        position: relative;
        transition: 0.5s;
        overflow: hidden;
        filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.25));

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-top: 2px solid $color-accent;
            border-right: 2px solid $color-accent;
            transform: translate(0, 0) rotate(45deg);

            transition: 0.5s;
        }

        &::before {
            transform: translate(-50%, 0) rotate(45deg);
            opacity: 0;
        }


        &::after {
            animation: arrow-slide 1.2s infinite;
        }

        &::before {
            animation: arrow-slide 1.2s infinite 0.3s;
        }
    }

    &:active {
        .arrow-circle {
            filter: none;
        }
    }
}


// ーーーーーーーーーーー
// 改行の共通クラス
// ーーーーーーーーーーー
.sp-only {
    display: none;

    @include sp {
        display: inline;
    }
}

.sp-none {
    display: inline;

    @include sp {
        display: none;
    }
}

.tab-only {
    display: none;

    @include tab {
        display: inline;
    }
}

.tab-none {
    display: inline;

    @include tab {
        display: none;
    }
}

// メインビジュアル以降の要素
.z-top {
    position: relative;
    z-index: 5;
    background-color: $color-base;
}



// ーーーーーーーーーーー
// フェードイン
// ーーーーーーーーーーー
/* ふわっ（下から） */
.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* ふわっ（左から）*/

.fadeLeft {
    animation-name: fadeLeftAnime;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeLeftAnime {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ふわっ（右から） */

.fadeRight {
    animation-name: fadeRightAnime;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeRightAnime {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.fadeUpTrigger,
.fadeLeftTrigger,
.fadeRightTrigger {
    opacity: 0;
}