@use 'variables' as *;
@use 'mixin' as *;

// ==========================
// YOFUKASHI共通項目
// ==========================
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: $color-base;
    color: $color-text;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 2%;

}

.section-title {
    text-align: center;
    margin-bottom: 90px;

    .en {
        color: $color-main;
        font-size: 2.0rem;
        font-weight: bold;
        letter-spacing: 3px;
    }
    .ja {
        color: $color-accent-navy;
        font-size: 3.6rem;
        font-weight: normal;
        @include sp {
            font-size: 3rem;
        }
    }
}

.back-btn {
    margin-top: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #888;
    background: none;
    cursor: pointer;
    font-size: 16px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    img {
        width: 32px;
        height: 32px;
        margin-bottom: 4px;
        display: block;
    }
}

.view-more-btn {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid $color-white;
    background: none;
    color: $color-white;
    @include open-sans;
    font-size: 1.6rem;
    @include flex(center, 6px);
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    img {
        width: 32px;
        height: 32px;
        display: block;
    }
}