@use 'variables' as *;
@use 'mixin' as *;


.contact {
    .support-comment {
        height: 500px;
        width: 100%;
        background-image: url(../img/contact1.webp);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        @include flex(flex-end, 0);
        flex-direction: column;

        @include sp {
            height: 400px;
        }

        p {
            width: fit-content;
            margin-bottom: 50px;
            padding: 50px 30px;
            background-color: rgba($color-white, 0.5);

            @include sp {
                margin-bottom: 20px;
                padding: 30px 10px;
            }
        }
    }

    .cta-wrapper {
        padding-top: 50px;
        text-align: center;
        @include flex(center, 10px);
        flex-direction: column;

        .cta-text {
            margin-bottom: 30px;
            font-size: 2.4rem;
            letter-spacing: 4px;
            position: relative;
            z-index: 10;

            @include tab {
                letter-spacing: 2px;
            }

            @include sp {
                font-size: 2rem;
            }

            span {
                font-size: 2.4rem;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: $color-accent;
                    filter: blur(6px);
                    z-index: -1;
                }
            }
        }

        .btn-wrapper {
            margin: 0 auto;


            .reservation {
                width: 100%;
            }

            @include sp {
                padding-inline: 2%;
            }
        }
    }
}