@use 'variables' as *;
@use 'mixin' as *;


.faq {
    position: relative;
    @include section-padding;

    #particles-js{ 
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
	position: relative;     /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
	z-index: 1;             /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
	width:100%;
	height: 100%;

    .accordion-area {
        padding-inline: 5%;
        margin-bottom: 150px;

        @include tab {
            padding-inline: 0;
        }

        li {
            margin-bottom: 30px;

            span {
                font-family: "Crimson Text", "Noto Sans JP", sans-serif;
                font-size: 4.8rem;
                margin-right: 20px;

                @include sp {
                    margin-right: 5px;
                }
                
                &.line {
                    color: transparent;
                    -webkit-text-stroke: 1px $color-text;
                }
            }

            .title {
                display: flex;
                align-items: center;
                background-color: $color-base-sub;
                font-weight: normal;
                font-size: 1.6rem;
                // border-top-left-radius: 5px;
                // border-top-right-radius: 5px;
                border-radius: 5px;
                padding: 1% 10% 1% 2%;
                position: relative;
                cursor: pointer;
                transition: .3s ease;

                &.close {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

                &:hover {
                    background-color: darken($color-main-sub, 10%); 
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 2%;
                    transform: translateY(-50%);
                    background-image: url(../img/icon_CaretUp.webp);
                    background-size: contain;   /* 画像を要素に収める */
                    background-repeat: no-repeat; /* 繰り返さない */
                    background-position: center; /* 中央に配置 */
                    width: 30px;
                    height: 30px;
                    z-index: 1;
                    transition: .3s ease;
                }

                &.close::after {
                    transform: translateY(-50%) rotate(-180deg);
                }
            }
            
            .box {
                display: none;
                background-color: $color-main-sub;
                padding: 3% 10% 3% 2%;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;

                .text-wrapper {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}