@use 'variables' as *;
@use 'mixin' as *;

footer {
    padding-bottom: 30px;
    position:relative;

    canvas{
        position: absolute;
        bottom: 0;
        left:0;
        width: 100%;
        z-index: -1;
    }    
    
    p {
        text-align: center;
    }
}