@use 'variables' as *;
@use 'mixin' as *;

.gallery {
    background-color: $color-main;
    overflow: hidden;
    padding: 60px 0;
    margin-block: 90px;

    .section-title {
        margin-bottom: 4rem;
        .en {
            color: $color-accent-navy;
        }

        .ja,
        .text {
            color: $color-white;
        }

        .view-more-btn {
            margin: 0 auto;
            width: 100px;
            height: 100px;
        }
    }

    .slick-top {
        margin-bottom: 2rem;
        transform: scaleX(-1);

        .slick-slide {
            margin: 0 10px;
            transform: scaleX(-1);
        }

        img {
            width: 100%;
            height: 20vh;
            object-fit: cover;
            display: block;
            border-radius: 10px;
        }
    }


    .slick-bottom {
        margin-top: 2rem;

        .slick-slide {
            margin: 0 10px;
        }

        img {
            width: 100%;
            height: 20vh;
            object-fit: cover;
            display: block;
            border-radius: 10px;
        }
    }
}