@use 'variables' as *;
@use 'mixin' as *;

.gallery {
    background-color: $color-main;
    overflow: hidden;
    padding: 60px 0;
    margin-block: 90px;

    .container {
        margin-bottom: 4rem;
        @include flex(center, 30px);
        align-items: center;

        @include sp {
            flex-direction: column;
            gap: 20px;
        }

        .inner {
            width: 60%;

            @include sp {
                width: 100%;
            }

            .section-title {
                margin-bottom: 30px;
                .en {
                    color: $color-accent-navy;
                }
                .ja{
                    color: $color-white;
                }
    
            }
    
            .text {
                color: $color-white;
            }
            
        }
        .view-more-btn {
            margin: 0 auto;

            @include sp {
                width: 130px;
                height: 130px;
            }
        }
    }

    .slick-top {
        margin-bottom: 2rem;
        transform: scaleX(-1);

        .slick-slide {
            margin: 0 10px;
            transform: scaleX(-1);
        }

        img {
            width: 100%;
            height: 30vh;
            object-fit: cover;
            display: block;
            border-radius: 10px;
        }
    }


    .slick-bottom {
        margin-top: 2rem;

        .slick-slide {
            margin: 0 10px;
        }

        img {
            width: 100%;
            height: 30vh;
            object-fit: cover;
            display: block;
            border-radius: 10px;
        }
    }
}