@use 'variables' as *;
@use 'mixin' as *;


.gallery {
    background-color: #3688D6;
    margin-block: 300px;


    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;


        .section-title {
            .en {
                color: $color-text;
            }

            .ja,
            .text {
                color: $color-white;
            }
        }

        .slick {

            .slick-left {
                transform: rotate(180deg) !important;

                img {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

