@use 'variables' as *;
@use 'mixin' as *;

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.0rem;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    transition: transform 0.5s ease;
    background-color: #ffffff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.06);


    &.hide {
        transform: translateY(-100%);
    }

    .menu {
        margin-left: auto; // ← メニューを右端へ押し出す

        nav {

            ul {
                display: flex;
                align-items: center;

                li {
                    margin-left: 10px;
                    display: flex;
                    align-items: center;
                    font-size: 3rem;

                    .reservation {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 5px;
                        width: 100%;
                        border-radius: 30px;
                        background-color: #F59E3D;
                        color: #fff;
                        font-size: 1.2em;
                        cursor: pointer;
                        text-decoration: none;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

                        p {
                            border: 1px solid #ffffff;
                            border-radius: 30px;
                            display: flex;
                            align-items: center;
                            padding: 5px;
                            line-height: 1;
                        }

                        .arrow-circle {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 35px;
                            height: 35px;
                            background-color: #fff;
                            border-radius: 50%;
                            margin-left: 15px;
                            position: relative;

                            &::after {
                                content: '';
                                position: absolute;
                                width: 10px;
                                height: 10px;
                                border-top: 2px solid #F59E3D;
                                border-right: 2px solid #F59E3D;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%) rotate(45deg);
                            }
                        }
                    }
                }
            }
        }
    }
}