@use 'variables' as *;
@use 'mixin' as *;

header {
    @include flex (space-between, 0px);
    font-size: 1rem;
    font-family: system-ui;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 1rem 0.5rem;
    z-index: 1000;
    transition: transform .3s;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &.hide {
        transform: translateY(-100%);
    }

    h1 {
        z-index: 10;

        img {
            width: 130px;
        }
    }

    nav {
        --_clr-txt: $color-white;
        --_clr-txt-svg: $color-accent-navy;
        --_ani-speed: 6s;
        display: flex;
        margin-left: auto;
        transition: left .4s ease-in-out;

        ul {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 1.6rem;

            li {
                a {
                    button {
                        appearance: none;
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        padding: 0;
                        margin: 0;
                        font: inherit;
                        color: inherit;
                        position: relative;
                        display: grid;
                        place-content: center;
                        grid-template-areas: "stack";
                        text-transform: uppercase;

                        span {
                            transition: all .3s ease-in-out;
                            grid-area: stack;
                            font-size: 1.6rem;

                            &:last-of-type {
                                margin-top: .25rem;
                                transform: scale(0);
                                transition-delay: 0ms;
                            }
                        }

                        &:hover,
                        &:focus-visible {
                            span {
                                &:first-of-type {
                                    transform: scale(0);
                                }

                                &:last-of-type {
                                    transform: scale(1);
                                }
                            }

                            svg {
                                transform: translate(-50%, -50%) scale(1);
                                opacity: 1;
                                transition-delay: 150ms;
                            }

                        }

                        .material-symbols-outlined {
                            font-size: 2rem;
                        }

                        svg {
                            position: absolute;
                            width: 100px;
                            height: 100px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            opacity: 0;
                            color: var(--_clr-txt-svg);
                            transition: all .3s ease-in-out;

                            @include tab {
                                display: none;
                            }

                            g {
                                transform-origin: center;
                                animation: rotate var(--_ani-speed) linear infinite;
                                font-size: 8rem;
                            }
                        }
                    }
                }
            }



            @keyframes arrow-slide {
                0% {
                    transform: translate(-50%, 0) rotate(45deg);
                    opacity: 0;
                }

                40% {
                    opacity: 1;
                }

                60% {
                    opacity: 1;
                }

                100% {
                    transform: translate(50%, 0) rotate(45deg);
                    opacity: 0;
                }
            }

            @keyframes colorize {
                0% {
                    background: $color-accent;
                }

                50% {
                    background: lighten($color-accent, 5%);
                }

                100% {
                    background: $color-accent;
                }
            }

            @keyframes ripple {
                0% {
                    outline: 0.15em solid transparent;
                    outline-offset: -0.1em;
                }

                50% {
                    outline: 0.3em solid rgba($color-accent, 0.25);
                    outline-offset: 0.2em;
                }

                100% {
                    outline: 0.5em solid transparent;
                    outline-offset: 0.4em;
                }
            }
        }

        &.hide {
            transform: translateY(-100%);
        }

        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }


    /* ▼ スマホ表示時 ▼ */
    @include tab {
        nav {
            position: fixed;
            top: 0;
            left: 101%;
            width: 100%;
            height: 100vh;
            background: rgba(73, 73, 73, 0.95);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9;

            ul {
                flex-direction: column;
                gap: 20px;

                li {
                    color: $color-white;

                    a {
                        button {

                            &:hover,
                            &:focus-visible {
                                span {
                                    &:first-of-type {
                                        transform: scale(1) !important;
                                    }

                                    &:last-of-type {
                                        transform: scale(0) !important;
                                    }
                                }


                                svg {
                                    transform: translate(-50%, -50%) !important;
                                    opacity: 0 !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        .hamburger {
            display: block;
            position: fixed;
            right: 5%;
            width: 30px;
            height: 25px;
            cursor: pointer;
            z-index: 11;

            span {
                display: block;
                position: absolute;
                left: 0;
                width: 30px;
                height: 2px;
                background-color: $color-accent-navy;
                transition: all .5s;

                &:nth-child(1) {
                    top: 5px;
                    width: 60px;
                    animation: equalizer01 7000ms infinite;
                }

                &:nth-child(2) {
                    top: 15px;
                    width: 30px;
                    animation: equalizer02 5000ms infinite;
                    animation-delay: 0.33s;
                }

                &:nth-child(3) {
                    top: 25px;
                    width: 60px;
                    animation: equalizer02 5000ms infinite;
                }
            }
        }

        .mask {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            transition: all .4s;
            z-index: 8;
        }
    }
}



.open {
    nav {
        left: 0%;
        transform: translateX(0);
    }

    .hamburger {
        transition: none;
        animation: none;
        margin: 20px;

        span {
            background-color: $color-white;

            &:nth-child(1) {
                transform: translateY(9px) rotate(-45deg);
                animation: none;
            }

            &:nth-child(2) {
                opacity: 0;
                animation: none;
            }

            &:nth-child(3) {
                transform: translateY(-9px) rotate(45deg);
                animation: none;
            }
        }
    }

    .mask {
        opacity: .5;
        visibility: visible;
    }
}

@keyframes equalizer01 {
    0% {
        width: 70%;
    }

    10% {
        width: 50%;
    }

    20% {
        width: 100%;
    }

    30% {
        width: 10%;
    }

    40% {
        width: 50%;
    }

    50% {
        width: 70%;
    }

    60% {
        width: 50%;
    }

    70% {
        width: 10%;
    }

    80% {
        width: 100%;
    }

    90% {
        width: 10%;
    }

    100% {
        width: 70%;
    }
}

@keyframes equalizer02 {
    0% {
        width: 30%;
    }

    10% {
        width: 20%;
    }

    20% {
        width: 40%;
    }

    30% {
        width: 10%;
    }

    40% {
        width: 20%;
    }

    50% {
        width: 30%;
    }

    60% {
        width: 20%;
    }

    70% {
        width: 10%;
    }

    80% {
        width: 40%;
    }

    90% {
        width: 10%;
    }

    100% {
        width: 30%;
    }
}