@use 'variables' as *;
@use 'mixin' as *;

.mainvisial {
    position: relative;
    height: 100vh;

    .mainvisial-wrapper {
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100vh;
        @include flex(end, 15px);
        flex-direction: column;
        align-items: center;

        @include tab {
            gap: 10px;
        }
    }

    .slider-area{
        position: absolute;
        top:0;
        right: 0;
        width: 85%;
        z-index: -1;

        @include sp {
            width: 100%;
        }

        .slider {
            width: 100%;
            height: 85vh;/*スライダー全体の縦幅を91vhにする*/
        }
    }

    h2 {
        margin-left: auto;
        margin-right: 2%;

        @include sp {
            margin-inline: 2%;
        }
        span {
            display: block;
            width: fit-content;
            font-size: 4rem;
            letter-spacing: 3px;
            background-color: $color-white;
            border-radius: 5px;
            margin-block: 10px;
            padding-inline: 10px;
            
            @include tab {
                font-size: clamp(2.7rem, 6vw, 4rem);
            }
            
            @include sp {
                font-size: clamp(2rem, 6vw, 2.7rem);
                letter-spacing: 2px;
            }
        }
    }

    .btn-wrapper {
        margin-left: auto;
        margin-right: 2%;

        .reservation {
            width: 100%;
        }

        @include sp {
            padding-inline: 2%;
            margin: 0 auto;
        }
    }

    .flex {
        @include flex(flex-end, 50px);
        align-items: end;
        width: 100%;
        .img-wrapper {
            width: fit-content;
            padding: 20px;
            background-color: $color-base;
            @include sp {
                width: 100%;
                margin: 0 auto;
                padding: 0;
            }
    
            img {
                max-width: 450px;
                width: 100%;
    
                @include tab {
                    max-width: 300px;
                }
    
                @include sp {
                    max-width: none;
                }
    
            }
        }

        .scrolldown{
            position: relative;
            bottom: 10px;
            height:50px;
            @include sp {
                display: none;
            }
            span{
                position: absolute;
                left:-23px;
                top: -20px;
                color: $color-accent-navy;
                font-size: 1.6rem;
                letter-spacing: 0.05em;
                @include open-sans;
            }
            &:after{
                content: "";
                position: absolute;
                top: 0;
                width: 1px;
                height: 30px;
                background: $color-accent-navy;
                animation: pathmove 1.4s ease-in-out infinite;
                opacity: 0;
            }
        }
    }


}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
	0%{
		height:0;
		top:0;
		opacity: 0;
	}
	30%{
		height:30px;
		opacity: 1;
	}
	100%{
		height:0;
		top:50px;
		opacity: 0;
	}
}

// モーダル
.modal {
    @include flex(center, 10px);
    flex-direction: column;
    position: fixed;
    bottom: 1%;
    left: 1%;
    width: 400px;
    height: 350px;
    background-color: $color-main;
    border-radius: 5px;
    border: 1px $color-line solid;
    padding: 10px;
    z-index: 9999;
    animation: bounceSoft 0.8s infinite ease-in-out;
    
    @include sp {
        width: 300px;
        height: 320px;
    }


    .modal-close {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 50px;
        height: 50px;
        background: $color-white;
        border: 1px solid $color-text;
        border-radius: 50%;
        cursor: pointer;

        /* 疑似要素でバツを表現 */
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 22px;
            height: 2px;
            background: $color-text;
            transition: .3s ease;

        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:hover::before,
        &:hover::after {
            background-color: $color-line;
        }
    }

    p {
        color: $color-white;
        span {
            font-size: 1.6rem;
            font-weight: bold;
        }
    }


    .modal-content {
        transition: transform 0.3s, opacity 0.3s;
        cursor: pointer;
    
        &:hover {
            opacity: 0.7;
        }
        img {
            width: 400px;
            height: 240px;
            border-radius: 5px;

            @include sp {
                width: 250px;
                height: 180px;
            }
        }
    }
}

@keyframes bounceSoft {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-6px); } /* 上に少し浮く */
}
