@use 'variables' as *;

// ================================================
// レスポンシブ
// ================================================
// @mixin pc {
//     @media (max-width: ($pc)) {
//         @content;
//     }
// }

@mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
}

@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

// ================================================
// flex
// ================================================
@mixin flex($justify-content: space-between, $gap: 0px) {
    display: flex;
    justify-content: $justify-content;
    gap: $gap;

}

// ================================================
// section-padding
// ================================================
@mixin section-padding {
    padding-block: 100px;

    @include sp {
        padding-block: 70px;
    }

}

// ================================================
// font : Monoton
// ================================================
@mixin monoton {
    font-family: "Monoton", "Noto Sans JP", sans-serif;
    font-weight: 100;
    font-style: normal;
}

// ================================================
// font : Open Sans
// ================================================
@mixin open-sans {
    font-family: "Open Sans", "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
}






