@use 'variables' as *;
@use 'mixin' as *;

.page-roadmap {
    width: 100%;
    align-items: center;
    background: #fff;

    .step-container:nth-child(odd) {
    background: #F7F9FC; // ← 色変更奇数番号のみ
    }

    .step-container {
        display: flex;
        min-height: 100vh;
        margin: 0 auto;

        .step-img {
            width: 50%;
            img {
                // 親要素のstep-containerの高さ (100vh) に合わせる
                height: 100%; 
            }
            
        }

        .step-content {
            width: 50%;
            padding: 10% 3%;
            

            .step-title {
                font-size: 5rem;
                font-family: "Monoton", sans-serif;
                font-weight: 100;
                font-style: normal;
                color: $color-main;

                span {
                    font-size: 8rem;
                    font-family: "Monoton", sans-serif;
                    font-weight: 100;
                    color: $color-main;
                    font-style: normal;
                    
                }
            }

            .step-subtitle {
                font-size: 2.4rem;
                margin-top: 0.8rem;
                display: inline-block;
                border-bottom: 6px solid $color-main;
                position: relative;
                border-bottom: none;
                margin-bottom: 19rem; // ← この値を増やすと間が広がる

                // 疑似要素青い下線
                &::after {

                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -15px; // 文字からの距離 調整できる
                    width: 62px; // ← 線の長さ（短くしたいならここを小さく）
                    height: 6px; // ← 線の太さ
                    background: $color-main; // 青色
                    border-radius: 0.2rem;
                    
                    

            
                }
            }
        }
    }
}