@use 'variables' as *;
@use 'mixin' as *;

.box:nth-child(odd) {
    background-color: $color-main-background; // ← 色変更奇数番号のみ
}

.box {
    @include flex(center, 0);
    justify-content: flex-start;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    background-color: $color-white;

    @include tab {
        flex-direction: column;
    }

    .step-img {
        width: 50%;
        height: 100vh;

        @include tab {
            width: 100%;
            height: 40vh;
        }

        img {
            height: 100%;
            //画面幅で画像の顔が見えなくなるので微調整
            &.img-step6 {
                object-position: 57% 15%;
            }
        }
        
    }

    .step-content {
        width: 50%;
        @include flex(start, 100px);
        flex-direction: column;
        padding: 5% 45px 5% 3%;

        @include tab {
            width: 100%;
            @include flex(start, 40px);
        }

        .step-title {
            font-size: 5rem;
            @include monoton;
            color: $color-main;

            @include tab {
                font-size: 3rem;
            }

            span {
                font-size: 8rem;
                @include monoton;

                @include tab {
                    font-size: 5rem;
                }
            }
        }

        .sub-title {
            @include flex(start, 24px);
            align-items: end;

            .step-subtitle {
                font-size: 2.4rem;
                font-weight: normal;
                position: relative;

                @include sp {
                    font-size: 2rem;
                }
    
                // 疑似要素青い下線
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -15px;
                    width: 62px; 
                    height: 6px;
                    background: $color-main;
                    border-radius: 10px;
                }
            }

            p {
                font-size: 2rem;

                @include sp {
                    font-size: 1.6rem;
                }
            }
        }
    }
}


.pagination {
	position:fixed;
	right:20px;
	top: 50%;
    transform: translateY(-50%);
	font-size:1em;
	z-index: 10;
	list-style: none;
}

.pagination a {
	display:block;
	height:20px;
	margin-bottom:5px;
	color: $color-text;
	position:relative;
	padding:4px;
}

.pagination a.active:after {
	box-shadow:inset 0 0 0 5px;
}

/*現在地表示のテキストの設定*/
.pagination a .hover-text {
	position:absolute;
	right:15px;
	top:0;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
}

.pagination a:hover .hover-text {
	opacity: 1;

}

.pagination a:after {
	-webkit-transition:box-shadow 0.5s ease;
	transition:box-shadow 0.5s ease;
	width:10px;
	height:10px;
	display: block;
	border:1px solid;
	border-radius:50%;
	content:"";
	position: absolute;
	margin:auto;
	top:0;
	right:3px;
	bottom:0;
}