@use 'variables' as *;
@use 'mixin' as *;

.price {
    padding-block: 100px;

    .arrow {
        width: 150px;
        display: block;
        margin: 0 auto;
        animation: arrowDown 1s infinite ease-in-out;
    }

    .price-container {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        padding-inline: 2%;

    }

    .course {
        border: 1px $color-line solid;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        .course-title {
            background-color: $color-main;
            color: $color-white;
            padding: 20px 30px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;

            h3 {
                font-size: 3.6rem;
                font-weight: normal;

                @include tab {
                    font-size: clamp(1.95rem, 4vw, 3.6rem);
                }
            }
        }


        .course-box {
            padding: 30px;
            @include flex(center, 30px);
            flex-direction: column;

            .box-bottom {
                @include flex(space-between, 10px);

                @include tab {
                    flex-direction: column;
                    align-items: center;
                    gap: 50px;
                }

                .skill {
                    width: 40%;
                    border: 1px $color-line solid;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;

                    @include tab {
                        width: 100%;
                    }

                    .skill-title {
                        background-color: $color-main;
                        color: $color-white;
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;
                        font-size: 2.4em;
                        text-align: center;
                        padding: 5px;
                    }

                    .skill-img {
                        padding: 10px;

                        @include tab {
                            @include flex(center, 0);
                        }

                        img {
                            max-width: 200px;
                            width: 100%;
                            display: block;
                            margin: 0 auto;
                            object-fit: contain;

                            @include tab {
                                min-width: 100px;
                                margin: 0;
                            }
                        }
                    }
                }

                .price-wrapper {
                    width: 60%;
                    text-align: center;
                    @include flex(space-evenly, 0);
                    flex-direction: column;

                    @include tab {
                        width: 100%;
                        gap: 70px;
                        margin-bottom: 50px;
                    }

                    .price-text {
                        .black {
                            font-size: 3.0rem;
                            font-weight: bold;

                            @include tab {
                                font-size: clamp(1.6rem, 5vw, 3.0rem);
                            }
                        }

                        .price-red {
                            font-size: 7.2rem;
                            color: $color-text-price;
                            font-weight: bold;
                            padding-inline: 10px;

                            @include tab {
                                font-size: clamp(3.5rem, 10vw, 7.2rem);
                            }
                        }

                        .red {
                            font-size: 3.6rem;
                            color: $color-text-price;
                            font-weight: bold;
                            position: relative;

                            @include tab {
                                font-size: clamp(2rem, 5vw, 3.6rem);
                            }

                            &::before {
                                content: "(税込)";
                                position: absolute;
                                top: -20px;
                                left: 50%;
                                transform: translateX(-50%);
                                font-size: 1.6rem;
                                font-weight: normal;
                                color: $color-text;
                                width: 200%;
                            }

                            @include tab {
                                font-size: clamp(1rem, 3vw, 1.6rem);
                            }
                        }


                    }

                    .btn-wrapper {
                        margin: 0 auto;

                        .reservation {
                            width: 100%;
                        }

                        @include sp {
                            padding-inline: 2%;
                        }
                    }
                }
            }
        }
    }
}



@keyframes arrowDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    50% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}