@use 'variables' as *;
@use 'mixin' as *;

.reasons {
    padding-block: 100px;
    background-color: $color-background-accent;

    @include sp {
        padding-bottom: 0;
    }

    .container {
        @include flex(justify-content, 100px);
        flex-direction: column;

        @include sp {
            gap: 40px;
        }
    }

    &__item {
        border-radius: 30px;
        padding: 5%;
        position: -webkit-sticky;/*Safari*/
        position: sticky;

        @include sp {
            padding: 10% 5%;
            position: static;
        }


        &.item1 {
            background-color: $color-step1;
            top:70px;/*Header高さ分で止まるようにする*/

        }
        &.item2 {
            background-color: $color-step2;
            top:90px;

        }
        &.item3 {
            background-color: $color-step3;
            color: $color-white;
            top:110px;
        }

        .no {
            @include monoton;
            font-size: 3.0rem;
            text-align: right;
            margin-bottom: 50px;

            @include tab {
                margin-bottom: 10px;
            }

            span {
                font-size: 5.0rem;
            }
        }

        .flex {
            @include flex(justify-content, 20px);

            @include tab {
                flex-direction: column-reverse;
            }

            &__text {
                width: 50%;

                @include tab {
                    width: 100%;
                }

                h3 {
                    font-size: clamp(2.5rem, 3vw, 3.6rem);
                    white-space: nowrap;
                    font-weight: normal;
                    margin-bottom: 50px;

                    @include tab {
                        font-size: clamp(2rem, 3vw, 2.5rem);
                        white-space: normal;
                        margin-bottom: 20px;
                    }
                    
                }
            }
            &__img {
                width: 50%;
                max-height: 455px;
                height: 50vh;

                @include tab {
                    width: 100%;
                    height: 30vh;
                }

                img {
                    height: 100%;
                }
            }
        }
    }
}