// ==========================
// 共通事項
// ==========================
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
}
