@use "variables" as *;
@use "mixin" as *;


.sns {
    // グラデーション
    background: linear-gradient(
        to bottom,
        $color-white 0%,
        $color-main-sub 50%,
        $color-white
    );
    padding-block: 150px;

  // ----------------------
  // タイトル部分
  // ----------------------
  .section-title {
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .sns-comment {
        width: fit-content;
        margin: 0 auto;
        letter-spacing: 4px;
        margin-bottom: 80px;
        text-align: center;
        position: relative;

        @include tab {
            letter-spacing: 2px;
        }

        @include sp {
            letter-spacing: normal;
        }

        // 内側の線
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            width: 80px;
            height: 1px;
            background-color: $color-text;

            @include tab {
                width: 50px;
            }
        }

        &::before {
            left: -85px;
            transform: translateY(-50%) rotate(60deg);
            @include tab {
                left: -50px;
            }
        }
        &::after {
            right: -85px;
            transform: translateY(-50%) rotate(-60deg);
            @include tab {
                right: -50px;
            }
        }

        span {
            font-size: 2.3rem;
            position: relative;

            @include sp {
                font-size: 1.6rem;
            }

            // 外側の線
            &::before,
            &::after {
                content: "";
                position: absolute;
                bottom: 16%;
                width: 70px;
                height: 1px;
                background-color: $color-text;

                @include tab {
                    width: 40px;
                }
            }
    
            &::before {
                left: -110px;
                transform: rotate(35deg);
                @include tab {
                    left: -60px;
                }
            }
            &::after {
                right: -110px;
                transform: rotate(-35deg);

                @include tab {
                    right: -110px;
                }

                @include sp {
                    right: -95px;
                }
            }
    
        }
    }

    .flex {
        @include flex(center, 30px);

        @include tab {
            flex-direction: column;
            gap: 50px;
            max-width: $sp;
            width: 100%;
            margin: 0 auto;
        }

        .item {
            width: calc(100% / 3);
            @include flex(space-between, 30px);
            flex-direction: column;
            align-items: center;

            @include tab {
                width: 100%;
                justify-content: center;
                flex-direction: row;
            }

            @include sp {
                gap: 20px;
            }

            .icon-flex {
                @include flex(flex-end, 0);
                position: relative;
                transition: all .3s ease;

                @include tab {
                    width: 40%;
                    // margin-left: auto;
                }

                &:hover {
                    opacity: 0.7;
                    transform: translateY(-5px);
                }

                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;

                    @include tab {
                        width: 100px;
                        height: 100px;
                    }
                }
                
                .icon-instagram {
                    content: "";
                    position: absolute;
                    right: -10px;
                    bottom: -10px;
                    width: 70px;
                    height: 70px;
                    background-image: url(../../img/icon_instagram.webp);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;

                    @include tab {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
            .item-text {
                @include tab {
                    width: 60%;
                }
                .name {
                    font-weight: bold;
                }
                .text {
                    @include sp {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}