@use 'variables' as *;
@use 'mixin' as *;

.support {
    padding-top: 100px;

    &__card {
        @include flex(flex-start, 0);
        align-items: end;
        margin-bottom: 100px;
        padding-inline: 10px;

        @include tab {
            justify-content: center;
            align-items: start;
        }

        @include sp {
            justify-content: flex-start;
        }
        
        &.reverse {
            /* 子要素の並び順を逆にする */
            flex-direction: row-reverse;

            @include tab {
                flex-direction: row;
            }
        }

        .support-text {
            width: 80%;
            max-width: 600px;
            background-color: $color-white;
            border: 1px $color-line solid;
            border-radius: 5px;
            padding: 70px 30px 50px 30px;
            position: relative;

            @include tab {
                width: 100%;
            }

            &::before {
                content: "";
                position: absolute;
                top: 10px;
                left: -10px;
                width: 100%;
                height: 100%;
                background-color: $color-main;
                border-radius: 5px;
                z-index: -1;

            }

            .support-number {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                background-color: $color-accent-navy;
                color: $color-white;
                border-radius: 3px;
                font-size: 3.6rem;
                @include monoton;
                padding-inline: 13px;
            }
            
            h3 {
                font-size: 2.3rem;
                margin-bottom: 30px;
            }
        }

        .support-img {
            width: 20%;
            position: relative;
            z-index: 3;

            @include tab {
                margin-top: -40px;
                margin-left: -100px;
            }
            img {
                max-width: 300px;
                min-width: 100px;
            }
        }
    }
}
