@use 'variables' as *;
@use 'mixin' as *;

.why-pronavi {
    padding-top: 50px;
    background: linear-gradient(to top, $color-main-sub 20%, $color-white 80%);

    .why {
        padding: 16px 20px;
        width: fit-content;
        background-color: $color-main;
        margin-bottom: 50px;

        @include tab {
            margin-bottom: 100px;
        }

        @include sp {
            padding: 8px 20px;
            margin-inline: auto;
        }

        p {
            color: $color-white;
            font-size: 2.0rem;

            @include sp {
                line-height: 130%;
            }

        }
    }

    .flex {
        @include flex(center, 20px);
        margin-bottom: 50px;

        @include tab {
            flex-direction: column;
            gap: 50px;
        }

        &__img {
            width: 40%;

            @include tab {
                width: 100%;
                @include flex(space-between, 0);
            }

            img {
                display: block;
                border-top-left-radius: 30px;
                border-bottom-right-radius: 30px;

                &.img1 {
                    width: 80%;
                    margin-left: auto;

                    @include tab {
                        width: 60%;
                        height: 200px;
                        margin: 0;
                    }
                }
                &.img2 {
                    width: 60%;
                    margin-top: -50px;

                    @include tab {
                        width: 50%;
                        height: 200px;
                        margin-left: -30%;

                    }
                }
            }
        }

        &__text {
            width: 60%;

            @include tab {
                width: 100%;
                padding-inline: 10%;
            }
            h3 {
                font-size: clamp(2rem, 3vw, 2.8rem);
                letter-spacing: 3px;
                font-weight: normal;
                white-space: nowrap;
                margin-bottom: 50px;
                @include tab {
                    font-size: clamp(1.8rem, 3vw, 2.8rem);
                }
                @include sp {
                    letter-spacing: normal;
                    font-size: clamp(1.6rem, 5vw, 3rem);
                }
            }

            p {
                margin-bottom: 30px;
                span {
                    font-size: 1.8rem;
                    font-weight: bold;
                    color: $color-main;
                }
            }

            img {
                max-width: 500px;
                width: 100%;
            }
        }
    }


    .slick-comment {
        text-align: center;
        margin-bottom: 10px;
        font-size: clamp(1.6rem, 5vw, 3rem);;
    }

    .event-slick {
        width: 100%;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            height: 30px;
            background-color: $color-main;
        }
        
        .slick-track {
            overflow: hidden;
        }

        img {
            width: 100%;
            height: 30vh;
            object-fit: cover;
        }
    }
}

    // slick が付与するクラスにスペースを入れる
    .slick-slide {
        padding: 0 10px; // スライド間の「横の隙間」をここで調整（例: 12px）

        @include tab {
            padding: 0 5px;
        }
    }

    body {
        /* 不要な横スクロールバーの表示を非表示にする */
        overflow-x: hidden; 
    }