@use 'variables' as *;
@use 'mixin' as *;

.why-pronavi {
    padding-top: 50px;
    background: linear-gradient(to top, $color-main-sub 20%, $color-white 80%);

    .why {
        padding: 16px 20px;
        width: fit-content;
        background-color: $color-main;
        margin-bottom: 50px;
        p {
            color: $color-white;
            font-size: 2.0rem;
        }
    }

    .flex {
        @include flex(center, 20px);
        margin-bottom: 50px;

        @include tab {
            flex-direction: column;
        }

        &__img {
            width: 40%;

            @include tab {
                width: 50%;
                @include flex(space-between, 0);
            }

            img {
                display: block;
                border-top-left-radius: 30px;
                border-bottom-right-radius: 30px;

                &.img1 {
                    width: 80%;
                    margin-left: auto;
                }
                &.img2 {
                    width: 60%;
                    margin-top: -50px;

                    @include tab {
                        margin: 0;
                    }
                }
            }
        }

        &__text {
            width: 60%;

            @include tab {
                width: 100%;
            }
            h3 {
                font-size: clamp(2rem, 3vw, 2.8rem);
                // font-size: 2.8rem;
                letter-spacing: 3px;
                font-weight: normal;
                white-space: nowrap;
                margin-bottom: 50px;
            }

            p {
                margin-bottom: 30px;
                span {
                    font-size: 1.8rem;
                    font-weight: bold;
                    color: $color-main;
                }
            }

            img {
                max-width: 500px;
                width: 100%;
            }
        }
    }


    .slick-comment {
        text-align: center;
        margin-bottom: 30px;

    }

    .slick {
        width: 100%;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            height: 30px;
            background-color: $color-main;
        }
        
        img {
            width: 100%;
            height: 30vh;
            object-fit: cover;
        }
    }
}

    // slick が付与するクラスにスペースを入れる
    .slick-slide {
        padding: 0 10px; // スライド間の「横の隙間」をここで調整（例: 12px）

        @include tab {
            padding: 0 5px;
        }
    }